body{
    background-color: #FFFDD0;
    font-family:'Gill Sans', 'Gill Sans MT', Arial, 'Trebuchet MS', sans-serif
}
h1{
    background-color: #FFE4C4;
    font-family:'Gill Sans', 'Gill Sans MT', Arial, 'Trebuchet MS', sans-serif
}
